@model Nager.AmazonProductAdvertising.Model.Item
<div class="col-xs-12 col-sm-6 col-md-4" style="min-height:250px;">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail">
                @if (Model.MediumImage != null)
                {
                    <img src="@Model.MediumImage.URL" alt="@Model.ItemAttributes.Title" />
                }
                <div class="caption">
                    <span>ASIN: @Model.ASIN</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <h5>@Model.ItemAttributes.Title</h5>
            <h3>@(Model.OfferSummary?.LowestNewPrice?.FormattedPrice)</h3>
            @Html.ActionLink("Details", "Detail", "Amazon", new { articleNumber = Model.ASIN }, new { Class = "btn btn-primary" })
        </div>
    </div>
    <div class="hidden-sm hidden-md hidden-lg"><hr /></div>
</div>