@model Nager.AmazonProductAdvertising.Model.Cart
@{
    ViewBag.Title = $"My Cart";
}
@if (Model != null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3>My Cart <small>(@Model.CartItems.CartItem.Length products)</small></h3>
                </div>
            </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th class="hidden-xs">Title</th>
                        <th class="hidden-xs">ProductGroup</th>
                        <th class="hidden-xs">SellerNickname</th>
                        <th>Quantity</th>
                        <th class="text-right" width="100">Price</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model?.CartItems.CartItem)
                    {
                        <tr>
                            <td class="hidden-xs">@item.ASIN</td>
                            <td class="hidden-xs">@item.Title</td>
                            <td class="visible-xs">@item.Title<br /><br />@item.ASIN</td>
                            <td class="hidden-xs">@item.ProductGroup</td>
                            <td class="hidden-xs">@item.SellerNickname</td>
                            <td>@item.Quantity</td>
                            <td class="text-right">@item.Price.FormattedPrice</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="visible-sm visible-md visible-lg"></td>
                        <td colspan="2" class="visible-xs"></td>
                        <td class="text-right"><strong>@Model.SubTotal.FormattedPrice</strong></td>
                    </tr>
                </tfoot>
            </table>

            <a class="btn btn-primary btn-lg" href="@Model.PurchaseURL"><i class="fa fa-amazon" aria-hidden="true"></i> Checkout on Amazon.de</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <h1>Card is empty</h1>
            Please add an article first
        </div>
    </div>
}
