@model Nager.AmazonProductAdvertising.Model.Item
@{
    ViewBag.Title = $"{Model.ItemAttributes.Title} {Model.ASIN}";
}

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3>@Model.ItemAttributes.Title <small>@Model.ASIN</small></h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                @if (Model.LargeImage != null)
                {
                    <img src="@Model.LargeImage.URL" alt="@Model.ItemAttributes.Title" class="img-thumbnail" />
                }
                @if (Model.ItemAttributes.Feature != null)
                {
                    <h4>Features</h4>
                    <ul class="list-group">
                        @foreach (var feature in Model.ItemAttributes.Feature)
                        {
                            <li class="list-group-item">@feature</li>
                        }
                    </ul>
                }
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">

                <h3>@(Model.OfferSummary?.LowestNewPrice?.FormattedPrice)</h3>
                <a class="btn btn-primary btn-lg" href="@Model.DetailPageURL" role="button">Buy at Amazon</a> <a id="cart" class="btn btn-primary btn-lg" onclick="AddToCart('@Model.ASIN')" role="button">Add to cart</a><br />
                <br />
                @if (Model.EditorialReviews != null)
                {
                    <span>@Html.Raw(Model.EditorialReviews?.Where(o => o.Source == "Product Description").Select(o => o.Content).FirstOrDefault())</span>
                }
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Product Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.Manufacturer))
                            {
                                <tr>
                                    <th>Manufacturer</th>
                                    <td>@Model.ItemAttributes.Manufacturer</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.Model))
                            {
                                <tr>
                                    <th>Model</th>
                                    <td>@Model.ItemAttributes.Model</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.ModelYear))
                            {
                                <tr>
                                    <th>ModelYear</th>
                                    <td>@Model.ItemAttributes.ModelYear</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.Color))
                            {
                                <tr>
                                    <th>Color</th>
                                    <td>@Model.ItemAttributes.Color</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.ItemPartNumber))
                            {
                                <tr>
                                    <th>ItemPartNumber</th>
                                    <td>@Model.ItemAttributes.ItemPartNumber</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.EAN))
                            {
                                <tr>
                                    <th>EAN</th>
                                    <td>@Model.ItemAttributes.EAN</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.ProductGroup))
                            {
                                <tr>
                                    <th>ProductGroup</th>
                                    <td>@Model.ItemAttributes.ProductGroup</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.PublicationDate))
                            {
                                <tr>
                                    <th>PublicationDate</th>
                                    <td>@Model.ItemAttributes.PublicationDate</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.ReleaseDate))
                            {
                                <tr>
                                    <th>ReleaseDate</th>
                                    <td>@Model.ItemAttributes.ReleaseDate</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.Warranty))
                            {
                                <tr>
                                    <th>Warranty</th>
                                    <td>@Model.ItemAttributes.Warranty</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemAttributes.LegalDisclaimer))
                            {
                                <tr>
                                    <th>LegalDisclaimer</th>
                                    <td>@Model.ItemAttributes.LegalDisclaimer</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(@Model.SalesRank))
                            {
                                <tr>
                                    <th>SalesRank</th>
                                    <td><span class="glyphicon glyphicon-star" style="color:#ffd800; font-size:15px;" aria-hidden="true"></span> @Model.SalesRank</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                @if (Model.SimilarProducts != null)
                {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Similar Products</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var product in Model.SimilarProducts)
                            {
                                <li class="list-group-item"><a href="/Amazon/Detail?articleNumber=@product.ASIN">@product.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
                }


            </div>
            @if (Model.ImageSets != null)
            {
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Gallery</h3>
                    </div>
                    <div class="panel-body">
                        <div id="slideimages" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                @{
                                    var myClass = "active";
                                    foreach (var image in Model.ImageSets.OrderByDescending(o => o.Category == "primary"))
                                    {
                                        <div class="item @myClass">
                                            <img src="@image.LargeImage.URL" alt="@Model.ItemAttributes.Title" style="text-align:center;" />
                                        </div>
                                        myClass = "";
                                    }
                                }
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#slideimages" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#slideimages" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>


<script>
    function AddToCart(asin) {
        $.ajax({
            url: './AddCart?asin=' + asin,
            method: 'GET',
            success: function (msg) {
                  $("#cart").css("background-color", "green");
            }
        });
    }

</script>