<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nager Shop</title>
    <meta name="description" content="@ViewBag.MetaDescription">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NAGER SHOP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-space" aria-hidden="true"></i> Home</a></li>
                    <li><a href="@Url.Action("Lookup", "Amazon")"><i class="fa fa-bullseye fa-space" aria-hidden="true"></i> Lookup</a></li>
                    <li><a href="@Url.Action("Cart", "Amazon")"><i class="fa fa-shopping-cart fa-space" aria-hidden="true"></i> My Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-8">
                        <h3>Source Code</h3>
                        <a href="https://github.com/tinohager/Nager.AmazonProductAdvertising">github.com</a>
                        <br />
                        <br />
                        <h3>Report a failure</h3>
                        If you found a failure please create a new <a href="https://github.com/tinohager/Nager.AmazonProductAdvertising/issues">issue</a>.
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Imprint</h3>
                        <p>Project of <a href="https://www.nager.at">nager.at</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; nager.at @DateTime.Now.Year
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106595536-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', 'UA-106595536-2');
    </script>

    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#eeeeee"
                    },
                    "button": {
                        "background": "#346cb0"
                    }
                },
                "position": "bottom"
            })
        });
    </script>

</body >
</html >
