@model Nager.AmazonProductAdvertising.Model.Paapi.Item
@{
    ViewBag.Title = $"{Model.ItemInfo.Title.DisplayValue} {Model.ASIN}";
}

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3>@Model.ItemInfo.Title.DisplayValue <small>@Model.ASIN</small></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                @if (Model.Images.Primary.Medium != null)
                {
                    <img src="@Model.Images.Primary.Large.URL" alt="@Model.ItemInfo.Title.DisplayValue" title="@Model.ItemInfo.Title.DisplayValue" class="img-thumbnail" />
                }
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-5">
                <h3>@(Model.Offers?.Listings?.FirstOrDefault()?.Price?.DisplayAmount)</h3>
                <a class="btn btn-primary btn-lg" href="@Model.DetailPageURL" role="button"><i class="fa fa-amazon" aria-hidden="true"></i> Bei Amazon.de kaufen</a>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-4">
                @if (Model.ItemInfo.Features != null)
                {
                    <h4>Features</h4>
                    <ul class="list-group">
                        @foreach (var feature in Model.ItemInfo.Features.DisplayValues)
                        {
                            <li class="list-group-item">@feature</li>
                        }
                    </ul>
                }
            </div>
        </div>

        <br />
        <div class="row">

            @if (Model.Images?.Variants != null)
            {
                <div class="col-xs-12 col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Gallery</h3>
                        </div>
                        <div class="panel-body">
                            <div id="slideimages" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    @{
                                        var myClass = "active";
                                        foreach (var image in Model.Images.Variants.Select(o => o.Large))
                                        {
                                            <div class="item @myClass">
                                                <img src="@image.URL" alt="@Model.ItemInfo.Title.DisplayValue" style="text-align:center;" />
                                            </div>
                                            myClass = "";
                                        }
                                    }
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#slideimages" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#slideimages" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Product Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            @if (!String.IsNullOrEmpty(Model.ItemInfo.ByLineInfo?.Manufacturer?.DisplayValue))
                            {
                                <tr>
                                    <th>Manufacturer</th>
                                    <td>@Model.ItemInfo.ByLineInfo.Manufacturer.DisplayValue</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemInfo.ByLineInfo?.Brand?.DisplayValue))
                            {
                                <tr>
                                    <th>Brand</th>
                                    <td>@Model.ItemInfo.ByLineInfo.Brand.DisplayValue</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemInfo.Classifications?.ProductGroup?.DisplayValue))
                            {
                                <tr>
                                    <th>ProductGroup</th>
                                    <td>@Model.ItemInfo.Classifications.ProductGroup.DisplayValue</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemInfo.Classifications?.Binding?.DisplayValue))
                            {
                                <tr>
                                    <th>Binding</th>
                                    <td>@Model.ItemInfo.Classifications.Binding.DisplayValue</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemInfo.ProductInfo?.Color?.DisplayValue))
                            {
                                <tr>
                                    <th>Color</th>
                                    <td>@Model.ItemInfo.ProductInfo.Color.DisplayValue</td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ItemInfo.ProductInfo?.Size?.DisplayValue))
                            {
                                <tr>
                                    <th>Size</th>
                                    <td>@Model.ItemInfo.ProductInfo.Size.DisplayValue</td>
                                </tr>
                            }
                            @if (Model.ItemInfo.ExternalIds?.EANs?.DisplayValues != null)
                            {
                                foreach (var item in Model.ItemInfo.ExternalIds.EANs.DisplayValues)
                                {
                                    <tr>
                                        <th>EAN</th>
                                        <td>@item</td>
                                    </tr>
                                }
                            }
                            @if (Model.ItemInfo.ExternalIds?.UPCs?.DisplayValues != null)
                            {
                                foreach (var item in Model.ItemInfo.ExternalIds.UPCs.DisplayValues)
                                {
                                    <tr>
                                        <th>UPC</th>
                                        <td>@item</td>
                                    </tr>
                                }
                            }
                            @if (Model.ItemInfo.ExternalIds?.ISBNs?.DisplayValues != null)
                            {
                                foreach (var item in Model.ItemInfo.ExternalIds.ISBNs.DisplayValues)
                                {
                                    <tr>
                                        <th>ISBN</th>
                                        <td>@item</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

